*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 1600px;
    background-color: #292d33;
}
.container a{
    font-size: 120px;
    color: white;
    position: relative;
    top: 110px;
    left: 100px;
    letter-spacing: 1px;
}
.container p {
    font-size: 18px;
    color: white;
    position: relative;
    top: 130px;
    left: 100px; 
    width: 550px;
    letter-spacing: 1px;
    line-height: 30px;
}
.container .img1{
    width: 225px;
    height: 330px;
    position: absolute;
    top: 770px;
    left:105px;
}
.container .img2{
    width: 250px;
    height: 450px;
    position: absolute;
    top: 470px;
    left: 360px;
}
.container .img3{
    width: 250px;
    height: 340px;
   position: absolute;
   top:950px;
   left: 360px;
}
.container .img4{
    width: 250px;
    height: 320px;
    position:absolute;
    top: 750px;
    left: 660px;
}
.container .img5{
    width: 250px;
    height: 320px;
   position: absolute;
   top: 1120px;
   left: 660px;
}
.container .img6{
    width: 250px;
    height: 415px;
   position:absolute;
   top: 850px;
   left: 950px;
}
.container ol {
    position: absolute;
    top: 600px;
    right: 170px;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    line-height: 30px;

}

  
                .container2{
                    width: 100%;
                    height: 700px;
                    position: absolute;
                    top: 1600px;
                    background-color: #ffff;
                }
                .container2 h1{
                    position: absolute;
                    top: 180px;
                    left: 150px;
                    font-size: 3.4rem;
                    width: 400px;
                    line-height: 1;
                    text-align: center;

                }
                .container2 p{
                    position: absolute;
                    top: 320px;
                    left: 170px;
                    font-size: 17px;
                    font-family: sans-serif;
                    width: 350px;
                    text-align: center;
                    line-height: 28px;
                    
                }

                .container2 a {
                    position: absolute;
                    top: 455px;
                    left: 250px;
                    text-decoration: none;
                    color: white;
                    font-size: 16px;
                    background-color: black;
                    width: 205px;
                    height: 55px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: sans-serif;
                    letter-spacing: 1px;
                    font-weight: 600;
                }
                .container2 .sekil{
                    background-color: #f04a0e;
                    width: 620px;
                    height: 500px;
                    position: absolute;
                    right: 90px;
                    top: 160px;
                    border-radius: 50% 25% 55%;
                }
                .container2 img {
                        width: 550px;
                        height: 430px;
                        position: absolute;
                        top: 200px;
                        right: 120px ;
                }


                    .container3 {
                            position: absolute;
                            top: 2250px;
                            width: 100%;
                            height: 800px;                  
                    }
                    .container3 .img1 {
                        width: 100%;
                        height: 800px;
                        
                    }
                        
                    .container3 img {
                        width: 400px;
                        height: 275px;
                    }
                    .container3 .card {
                        box-sizing: border-box;
                        box-shadow: 0 10px 20px black;
                        height: 275px;
                        overflow: hidden;
                        transition: 0.8s;
                        position: absolute;
                        top: 200px;
                        left: 100px;
                    }
                
                    .container3 .card:hover{
                        height:400px ;
                    } 
                    .container3 .card .cardprag {
                            background-color: #726f6f;
                            opacity: 0.9; 
                            height:130px;
                            position: absolute;
                            top:275px;
                            display: flex;
                            flex-direction: column;   
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            font-size: 19px;  
                            color: white;                                                        
                    }
                    


                        .container3 img {
                            width: 400px;
                            height: 275px;
                        }
                        .container3 .card1 {
                            box-sizing: border-box;
                            box-shadow: 0 10px 20px black;
                            height: 275px;
                            overflow: hidden;
                            transition: 0.8s;
                            position: absolute;
                            top: 200px;
                            left: 502px;
                        }
                    
                        .container3 .card1:hover{
                            height:400px ;
                        } 
                        .container3 .card1 .cardprag1 {
                                background-color: #726f6f;
                                opacity: 0.9; 
                                height:130px;
                                position: absolute;
                                top:275px;
                                display: flex;
                                flex-direction: column;   
                                text-align: center;    
                                justify-content: center;                   
                                font-size: 17px;  
                                color: white;                                                        
                        }



                            .container3 img {
                                width: 400px;
                                height: 275px;
                            }
                            .container3 .card2 {
                                box-sizing: border-box;
                                box-shadow: 0 10px 20px black;
                                height: 275px;
                                overflow: hidden;
                                transition: 0.8s;
                                position: absolute;
                                top: 200px;
                                left: 903px;
                            }
                        
                            .container3 .card2:hover{
                                height:400px ;
                            } 
                            .container3 .card2 .cardprag2 {
                                    background-color: #726f6f;
                                    opacity: 0.9; 
                                    height:130px;
                                    position: absolute;
                                    top:275px;
                                    display: flex;
                                    flex-direction: column;   
                                    text-align: center;  
                                    justify-content: center;                     
                                    font-size: 17px;  
                                    color: white;                                                        
                            }
                        
            

   

 














                            .container4 {
                                    position: absolute;
                                    top: 2950px;
                                    width: 100%;
                                    height: 700px;
                                    
                                }


                                .container4 h1{
                                    position: absolute;
                                    top: 180px;
                                    left: 170px;
                                    font-size: 3.4rem;
                                    width: 350px;
                                    line-height: 1;
                                   

                                }
                                .container4 p{
                                    position: absolute;
                                    top: 320px;
                                    left: 170px;
                                    font-size: 17px;
                                    font-family: sans-serif;
                                    width: 500px;                                    
                                    line-height: 28px;
                                    
                                }

                                .container4 a {
                                    position: absolute;
                                    top: 495px;
                                    left: 170px;
                                    text-decoration: none;
                                    color: white;
                                    font-size: 16px;
                                    background-color: black;
                                    width: 205px;
                                    height: 55px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-family: sans-serif;
                                    letter-spacing: 1px;
                                    font-weight: 600;
                                }
                               .container4 .sekil{
                                    background-color: #f04a0e;
                                    width: 620px;
                                    height: 500px;
                                    position: absolute;
                                    right: 40px;
                                    top: 130px;
                                    border-radius: 96% 88% 110%  60%;
                                }
                                .container4 img {
                                     width: 550px;
                                     height: 390px;
                                     position: absolute;
                                     top: 200px;
                                     right: 50px ;
                                }
                                
        .container5{
            position: absolute;
            top: 3800px;
            width: 100%;
            height: 1050px;
        }

        .container5 .back{
            width: 100%;
            height: 1050px;

        }
        .container5 .box1{
            width: 330px;
            height: 520px;
            background-color: #f04a0e;
            position: absolute;
            top: 150px;
            left:150px;
        }

     
        .container5 .box1 h1{
            position: absolute;
            top: 80px;
            left: 35px;
            font-size: 2.2rem;
            width: 350px;
            line-height: 1;        
            color: white; 
        }
        .container5 .box1 p{
            position: absolute;
            top: 160px;
            left: 35px;
            font-size: 16px;
            font-family: sans-serif;
            width: 245px;                                    
            line-height: 28px;
            color: white;
            
        }

        .container5 .box1 a {
            position: absolute;
            top: 410px;
            left: 35px;
            text-decoration: none;
            color: black;
            font-size: 16px;
            background-color: white;
            width: 205px;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: sans-serif;
            letter-spacing: 1px;
            font-weight: 600;
        }
        .container5 .img1{
            width: 330px;
            height: 300px;            
            position: absolute;
            top: 650px;
            left:150px;
        }
        .container5 .img2{
            width: 360px;
            height: 370px;            
            position: absolute;
            top: 40px;
            left:480px;
        }
        .container5 .img3{
            width: 360px;
            height: 405px;            
            position: absolute;
            top: 380px;
            left:480px;
        }
        .container5 .img4{
            width: 335px;
            height: 370px;            
            position: absolute;
            top: 160px;
            left:840px;
        }

        .container5 .box2{
            width: 335px;
            height: 430px;
            background-color: white;
            position: absolute;
            top: 530px;
            left:840px;
        }

     
        .container5 .box2 h1{
            position: absolute;
            top: 50px;
            left: 35px;
            font-size: 1.8rem;
            width: 350px;
            line-height: 1;        
            color: black; 
        }
        .container5 .box2 p{
            position: absolute;
            top: 105px;
            left: 35px;
            font-size: 15px;
            font-family: sans-serif;
            width: 240px;                                    
            line-height: 28px;
            color: black;
            
        }

        .container5 .box2 a {
            position: absolute;
            top: 325px;
            left: 35px;
            text-decoration: none;
            color: white;
            font-size: 14px;
            background-color: #f04a0e;
            width: 150Px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: sans-serif;
            letter-spacing: 1px;
            font-weight: 600;
        }



                    .container6{
                        width: 100%;
                        height: 800px;
                        position: absolute;
                        top: 4850px;   
                    }
                    .container6 h1{
                        font-size: 55px;
                        text-align: center;
                        position: absolute;
                        top: 65px;
                        left: 27%;
                        letter-spacing: 0px;
                    }

                    .container6 p {
                        position: absolute;
                        left: 320px;
                        top: 135px;
                        font-size: 21px;
                        color: #323232;
                    }

                    .container6 .box1{
                        width: 370px;
                        height: 650px;
                        position: absolute;
                        top:220px;
                        left: 150px; 
                        background-color: #e5e5e5;
                    }

                    .container6 .box1 .img1{
                        width: 370px;
                        height: 300px;    
                    }

                    .container6 .box1 .travel{
                        width: 70px;
                        height: 70px;
                        position: absolute;
                        top: 350px;
                        left: 40%;                    
                    }

                    .container6 .box1 h1{
                        font-size: 30px;
                        position: absolute;
                        top: 450px;
                        left: 23%; 
                        letter-spacing: 0px;  
                    }

                    .container6 .box1 p{
                        font-size: 20px;
                        width: 320px;
                        position: absolute;
                        left: 7%;
                        text-align: center;
                        top: 520px;               
                        
                    }


                    .container6 .box2{
                        width: 370px;
                        height: 650px;
                        position: absolute;
                        top:0px;
                        left: 370px; 
                        background-color: #e5e5e5;
                    }

                    .container6 .box2 .img1{
                        width: 370px;
                        height: 350px;
                        position: absolute;
                        bottom: 0;    
                    }

                    .container6 .box2 .navi{
                        width: 70px;
                        height: 70px;
                        position: absolute;
                        top: 30px;
                        left: 40%;                    
                    }

                    .container6 .box2 h1{
                        font-size: 28px;
                        position: absolute;
                        top: 130px;
                        left: 19%; 
                        letter-spacing: 0px;  
                    }

                    .container6 .box2 p{
                        font-size: 20px;
                        width: 320px;
                        position: absolute;
                        left: 7%;
                        text-align: center;
                        top: 180px;               
                        
                    }


                    .container6 .box3{
                        width: 370px;
                        height: 650px;
                        position: absolute;
                        top:0px;
                        left: 740px; 
                        background-color: #e5e5e5;
                    }

                    .container6 .box3 .img1{
                        width: 370px;
                        height: 300px;    
                    }

                    .container6 .box3 .yon{
                        width: 70px;
                        height: 70px;
                        position: absolute;
                        top: 350px;
                        left: 40%;                    
                    }

                    .container6 .box3 h1{
                        font-size: 28px;
                        position: absolute;
                        top: 460px;
                        left: 17%; 
                        letter-spacing: 0px;  
                    }

                    .container6 .box3 p{
                        font-size: 20px;
                        width: 320px;
                        position: absolute;
                        left: 7%;
                        text-align: center;
                        top: 520px;               
                        
                    }
                   
                                .container7{
                                    width: 100%;
                                    height: 900px;
                                    position: absolute;
                                    top: 1000px;  
                                }
                                .container7 .img1{
                                    width: 100%;
                                    height: 900px;
                                }
                                .container7 .box1{
                                    width: 1150px;
                                    height: 700px;
                                    position: absolute;
                                    top: 100px;
                                    left: 100px;
                                    background-color: white;
                                }

                                .container7 .box1 .img2 {
                                    width: 280px;
                                    height: 280px;
                                    border-radius: 50%;
                                    position: absolute;
                                    top: 150px;
                                    left: 150px;
                                }
                                .container7 .box1 h1 {
                                    position: absolute;
                                    left: 125px;
                                    font-size: 50px;
                                    top: 500px;
                                    letter-spacing: 1px;
                                }
                                .container7 .box1 h2{
                                    position: absolute;
                                    left: 523px;
                                    font-size: 24px;
                                    top: 100px;
                                    text-align: center;
                                    color: gray;
                                }
                                .container7 .box1 p{
                                    position: absolute;
                                    left: 605px;
                                    top: 200px;
                                    width: 460px;
                                    color: gray;
                                    line-height: 35px;
                                }
                                .container7 .box1 h3 {
                                    position: absolute;
                                    left: 720px;
                                    top: 450px;
                                    font-size: 18px;
                                    font-family: sans-serif;
                                    color: #2c2c2c;
                                    text-align: center;
                                    line-height: 40px;
                                }
                                .container7 .box1 .twit{
                                    width: 40px;
                                    height: 40px;
                                    position: absolute;
                                    right: 250px;
                                    bottom: 100px;
                                }
                                .container7 .box1 .insta{
                                    width: 40px;
                                    height: 40px;
                                    position: absolute;
                                    right: 330px;
                                    bottom: 100px;
                                }







@media  screen and (max-width:768px){
    .container{
        max-width: 100%;
    }
    .container a{
        font-size: 80px;
        position: relative;
        left: 20px;       
    }
    .container p{
        font-size: 20px;
        position: absolute;
        left: 20px;
        top: 300px;
        width:350px;
    }
    .container .img1 {
        position: relative;
        left: 20px;
        top: 350px;
        width: 350px;
    }
    .container .img2 {
        position: relative;
        left: 20px;
        top: 430px;
        width: 350px;
    }
    .container .img3 {
        position: relative;
        left: 20px;
        top: 510px;
        width: 350px;
    }
}
